#scrollBtn{
    position: fixed;
      right: 20px;
      bottom: 20px;
      font-size: 3.5em;
      border-radius: 50%;
      background: white;
      color: #FFABAB;
      outline: none;
      border: 2px solid white;
      cursor: pointer;
      opacity: 1;
      transition: .5s;
      z-index: 50;
}

#scrollBtn:hover{
    color: white;
    background: #FFABAB;
}

#scrollBtn.active{
    opacity: 1;
}
