@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    font-family: 'Roboto';
    color: white;
    background-color: #FFABAB;
  }

  .title{
      font-family: 'Pacifico';
      margin-bottom: 5vh;
  }

  .spotify-login{
    color: white;
    background: none;
    border: 3px solid white;
}

.spotify-login:hover{
    color: #FFABAB;
    background: white;
    font-weight: 700;
    transition: 0.7s;
    border: none;
}

.login-section{
    text-align: center;
}

h2{
    margin-bottom: 1.5em;
}

