@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

  .title{
      font-family: 'Pacifico';
      margin-bottom: 5vh;
  }

  .spotify-login{
    color: white;
    background: none;
    border: 3px solid white;
}

.spotify-login:hover{
    color: #FFABAB;
    background: white;
    font-weight: 700;
    transition: 0.7s;
    border: none;
}

.login-section{
    margin-top: 10vh;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

h2{
    margin-bottom: 1.5em;
}

